.box{
    background: white;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: inline-block;
    overflow: auto;
}
.dragging {
    background: coral;
}
.area{
    border: 1px solid black;
    background: white;
    height: 500px;
    width: 500px;
    margin: auto;

}
.tbody{
    margin: auto;
}
.space{
}